.wrapper{
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}



.mainContent{
    margin-left: 60px;
}

.h1{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.headerBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 60px;
}

.search{
    display: flex;
    flex-direction: row;
    max-width: 250px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;

}

.input{
    padding: 0;
    height: 17px;
    margin: 13px 15px 15px 13px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.input:focus{
    outline: none;
}

.searchLogo{
    margin: 13px 0px 15px 18px;
}

.itemStyle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}